node_modules/
.expo/
dist/
web-build/
android/
ios/
.env
*.log
#google-services.json
GoogleService-Info.plist
serviceAccountKey.json
firebaseAdminCredentials.json
*-firebase-adminsdk-*.json
server/.env
server/node_modules/
server/dist/
